[Unit]
Description=Check cameras connection and send data to CUBA IoT Platform

[Service]
WorkingDirectory=/home/cuba/cuba-cameras-integration
ExecStart=/home/cuba/cuba-cameras-integration/.venv/bin/python3 /home/cuba/cuba-cameras-integration/main.py
Restart=always

[Install]
WantedBy=multi-user.target